/*综合的容器，初始比例3:2*/
#stat-body{
    width:1280px;
    background-color:#f8f8f8 ;

}

#general-container{
    width:1280px;
    height:auto;
    position: absolute;
    margin:auto; top: 90px;left: 0;right: 0;bottom: 0;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


/*要求参数容器和内容容器一样高，由于内容容器高度受内容尺寸影响，这一功能将通过JS动态控制*/
.filter-set-panel{
    width: 1280px ;
    height: 40px;
    margin-top: 3px;
    float: left;
}

.content-panel{
    width: 1280px ;
    height: auto;
    margin-top: 3px;
    float: left;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#create-query{
    width: 280px;
    height: 30px;
    border-style: none;
    border-radius: 0px;
    background-color: lightblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


.queryResultContainer{
    width: 1082px ;
    height: auto;
    min-height: 300px;
    margin-top:3px;
    margin-left: 3px;
}
.queryResultCard{
    width: 1050px ;
    height: auto;
    min-height: 300px;
    margin-top:5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.patientInfoTab{
    width:800px;
}
.queryCareerCardGraph{
    width: 800px;
    height:280px;
    float: left;
    margin-left: 2px;
    margin-top:5px;
}
.queryCareerCardTable{
    width: 240px;
    height:280px;
    float: left;
    margin-left: 2px;
    margin-top:5px;
}
.queryResultGraph{
    width: 570px;
    height:280px;
    float: left;
    margin-left: 2px;
    margin-top:auto;
    margin-bottom:auto;
}
.queryResultTable{
    width: 460px;
    height:280px;
    float: left;
    margin-left: 5px;
    margin-top:5px;
    overflow: auto;
}


.losDataTable{
    width: 450px;
    border:1px;
    cellpadding:"3";
    margin-top:20px;
}
.losDataTable tr th{
    width:75px;
    align: left;
}
.careerDataTable{
    width: 230px;
    border:1px;
    margin-top:20px;
}
.ageDataTable tr th{
    width:110px;
    align: left;
}
.ageDataTable{
    width: 350px;
    border:1px;
    margin-top:20px;
}
.ageDataTable tr th{
    width:85px;
    align: left;
}
.riskAndSexDataTable{
    width: 350px;
    border:1px;
    margin-top:20px;
}
.riskAndSexDataTable tr th{
    width:100px;
    align: left;
}
.individualDataTable{
    width: 350px;
    border:1px;
    margin-top:20px;
}
.individualDataTable tr th{
    width:100px;
    align: left;
}
.generalDataTable{
    width: 350px;
    border:1px;
    margin-top:20px;
}
.generalDataTable tr th{
    width:170px;
    align: left;
}