.navbar-nav li:hover, .navbar-nav li.active{
	border-bottom : #C4E17F 3px solid;
	background : #e7e7e7;
}

.navbar-logo{
	height: 38px;
}

.navbar-logo-small{
	height: 30px;
}


.padding-top-120{
	padding-top: 120px;
}

.panel-select-stat-head {
    text-align:center;
    background: #f8f8f8;
    border-color:#0a0a0a;
}
.panel-stat-default {
    border-color: #000000;
}
.btn-link{
	padding: 0px;
}

.divider-short{
	display: block;
	width: 60px;
	height: 1px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #000;
}

.search-box{
	width: 50%;
	left: 25%;
	margin-bottom: 40px;
	margin-top: 30px;
	border-radius: 25px;
	border: 2px solid #ddd;
	padding-left: 12px;
}

.search-box .form-control{
	border: none;
	box-shadow: none;
}

.search-box .input-group-addon{
	border: none;
	background: transparent;
}

.tab-pane{
	margin-top: 30px;
}

.rise{
	margin-top: -100px;
}

td .btn{
	padding: 1px 5px;
	font-size: 12px;
}

tbody > tr > th{
    font-weight: normal;
}

@font-face {font-family: 'webfont';
    src: url('font/webfont.eot'); /* IE9*/
    src: url('font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/webfont.woff') format('woff'), /* chrome、firefox */
    url('font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

body{
	font-size: 14px;
	line-height: 1.2;
	font-family: "webfont" !important;
}

.navbar-custom{
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.web-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.no-padding-right{
	padding-right: 0px;
}

/*以上为home页面,以下为create页面*/
.panel-body .form-horizontal .form-group{
	margin-bottom: 3px;
}

.panel-body .form-horizontal .form-group .form-control{
	border: none;
	border-bottom: 1px solid;
	border-radius: 0px;
	background: #fff;
	padding-bottom: 0px;
	height: 23px;
	box-shadow: none;
}

.panel-body .form-horizontal .form-group select.form-control{
	padding-left: 0px;
	padding-bottom: 1px;
	padding-top: 5px;
	margin-left: -3px;
}

.panel-body .form-horizontal .form-group .form-control[disabled]{
	cursor: text;
	border: none;
}

/*以下为patient页面*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-body .form-group .col-md-8,
.panel-body .form-group .col-md-8 .form-control{
	padding-left: 0px;
	padding-right: 0px;
}

.panel-body .col-md-4 div{
	font-weight: bold;
	margin-bottom: 3px;
	margin-left: -15px;
	height: 23px;
	padding-top: 7px;
}

.panel-body .col-md-8 div{
	margin-bottom: 3px;
	height: 23px;
	padding-top: 7px;
	padding-left: 7px;
}

.panel-body > a[data-filter]{
	color: #333;
	display: inline-block;
	border-radius: 3px;
	border-color: #ccc;
}

.panel-body > a[data-filter].active, 
.panel-body > a[data-filter]:hover{
	background: #1BAC91;
	border-color: #1BAC91;
	box-shadow: none;
}

.grid .alert{
	padding-bottom: 25px;
}

.slider.slider-vertical{
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.record-item{
	width: 100%;
	border: 1px solid #ddd;
	padding: 12px 7px 5px 7px;
}

h5{
	margin-top: 0px;
}

p{
    text-indent: 2em;
    line-height: 1.5em;
    font-weight: normal;
}

.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
    opacity: 1;
}

.new{
	border: 2px solid #7cb14f;
}

.loading-page {
    background: url("/img/tenor.gif");
    width: 330px;
    height: 330px;
    display: inline-block;
    background-size: 100%;
}

.risk-pred-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.risk-pred-item-header {
    border: 2px solid #000;
    padding: 3px 3px 3px 15px;
    background: #FFF;
}

.risk-pred-item-body {
    border: 1px solid #b9b9b9;
    padding: 12px 12px;
    margin-bottom: 7px;
}

.risk-pred-item-content {
    border: 1px solid #b9b9b9;
    padding: 5px 0;
    margin-bottom: 7px;
}

.glyphicon-remove {
    cursor: pointer;
}

@media (min-width: 768px){
	.form-horizontal .control-label{
		text-align: left;
	}
}