.find{
    /*margin-top: 20px;*/
    padding-top: 25px;
}
#id{
    margin-top: 10px;
    padding-bottom: 2cm;

}
select{
    text-align: center;
    height: 30px;
}
#word{
    text-align:center;
    width:55%;
    height:27px;
}
.add{
    text-align:center;
    height:30px;
    margin-left:10px;
    padding-left:45px;
}
#add{
    padding-top:60px;
    font-size: 12px;
    margin-bottom: 288px;
    margin-top: 30px;
    text-align: center;

}
.editInput{
    font-size: 15px;

}
.foot{
    text-align: right;
    color: #2e6da4;
}



.footer{
    text-align: left;
}

.bt{
    margin-left:230px;
    text-align:center;
}
#searchWord{
    height:30px;
    width: 155px;
}

#searchClassify{
    width:155px;
    height: 30px;

}
.tb{
    border:1px solid lightyellow;
}
.lab{
    margin-top: 15px;

}