<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css" th:href="@{http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><b>医学词典在线编辑平台</b></a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9" style="padding-right:0;">
            <table cellspacing="0" class="table table-hover tb">
                <thead class="text-center">
                <tr class="success">
                    <td>编号</td>
                    <td>词典</td>
                    <td>分类</td>
                    <td>标准词典</td>
                    <td>操作</td>
                    <!--<td>删除</td>-->
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="d : ${dicts.content}" class="table-hover warning" >
                    <td th:text="${d.id}">1</td>
                    <td th:text="${d.word}">上腹部</td>
                    <td th:text="${d.category}">BodyPart</td>
                    <td th:text="${d.preferredName}">上腹部</td>
                    <td><a>修改</a><a>&nbsp; | &nbsp;</a><a th:id="${d.word}">删除</a></td></tr>
                    <!--<td><a th:href="@{/dict/delete(word=${d.word})}">删除</a></td>-->
                </tbody>
                <tbody>
                <tr class="warning">
                    <td th:text="共找到的词条数" class="foot"></td>
                    <td th:text="${dicts.getTotalElements()}" class="footer"></td>
                    <td></td>
                    <td th:text="总页数" class="foot"></td>
                    <td th:text="${dicts.getTotalPages()}" ></td></tr>
                </tbody>
                <tfoot th:if="${not #strings.isEmpty(searchWord) or not #strings.isEmpty(searchCategory)}">
                <tr class="text-center">
                    <!--<td></td>-->
                    <td></td>
                    <td><a th:href="@{/dict/search(word=${searchWord},category=${searchCategory},page=0)}">首页</a></td>
                    <td><a th:if="${dicts.number} != 0" th:href="@{/dict/search(word=${searchWord},category=${searchCategory},page=${dicts.number-1})}">上一页</a></td>
                    <td><a th:if="${!dicts.last}" th:href="@{/dict/search(word=${searchWord},category=${searchCategory},page=${dicts.number+1})}">下一页</a></td>
                    <td><a th:href="@{/dict/search(word=${searchWord},category=${searchCategory},page=${dicts.totalPages-1})}">末页</a></td>
                </tr>
                </tfoot>
                <tfoot th:if="${#strings.isEmpty(searchWord) and #strings.isEmpty(searchCategory)}">
                <tr class="text-center">
                    <!--<td></td>-->
                    <td></td>
                    <td><a th:href="@{/dict(page=0)}">首页</a></td>
                    <td><a th:if="${dicts.number} != 0" th:href="@{/dict(page=${dicts.number-1})}">上一页</a></td>
                    <td><a th:if="${!dicts.last}" th:href="@{/dict(page=${dicts.number+1})}">下一页</a></td>
                    <td><a th:href="@{/dict(page=${dicts.totalPages-1})}">末页</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-3">
            <div style="background: #d0e9c6; padding:0 15px; height: 100%;">
                <form class="find" action="/dict/search" method="get" style="height: 120px">
                    <div class="form-group">
                        <label>搜索词典</label>
                        <input type="text"  placeholder="请输入要查找的词" name="word" id="searchWord" /><br>
                        <label class="lab">选择分类</label>
                        <select name="category" id="searchCategory">
                            <option value="" th:selected="${#strings.isEmpty(searchCategory)}">--全部--</option>
                            <option value="BodyPart" th:selected="${searchCategory == 'BodyPart'}">BodyPart</option>
                            <option value="Treatment" th:selected="${searchCategory == 'Treatment'}">Treatment</option>
                            <option value="Symptom" th:selected="${searchCategory == 'Symptom'}">Symptom</option>
                            <option value="Medication" th:selected="${searchCategory == 'Medication'}">Medication</option>
                            <option value="LabTest" th:selected="${searchCategory == 'LabTest'}">LabTest</option>
                            <option value="Diagnosis" th:selected="${searchCategory == 'Diagnosis'}">Diagnosis</option>
                            <option value="Surgery" th:selected="${searchCategory == 'Surgery'}">Surgery</option>
                            <option value="Irrelevant" th:selected="${searchCategory == 'Irrelevant'}">Irrelevant</option>
                        </select>
                    </div>
                    <button type="submit"  class="btn btn-info search bt">查找</button>
                </form>
                <form action="/dict/word" method="post" id="add" >
                    <div class="form-group">
                        <label class="editInput">添加词典</label>
                        <input type="text"  name="word" placeholder="请输入要添加的词" class="add">
                    </div>
                    <div class="form-group">
                        <label class="editInput">添加分类</label>
                        <input type="text"  name="category" placeholder="请输入要添加的分类" class="add">
                    </div>
                    <div class="form-group">
                        <label class="editInput">标准词典</label>
                        <input type="text"  name="preferredName" placeholder="请输入要添加的消歧词" class="add">
                    </div>
                    <input type="hidden" name="page" th:value="${dicts.totalPages-1}"/>
                    <button type="submit" class="btn btn-info bt">添加</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
<script th:src="@{/js/datatables.js}" src="../static/js/datatables.js"></script>
<script th:src="@{/js/custom/index.js}" src="../static/js/custom/index.js"></script>
</html>